.form {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: none;
  gap: 10px;
  width: 45%;
  box-sizing: border-box;
  .form-item {
    cursor: pointer;
    display: inline-flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px 12px 0px 0px;
    background: #E3E3E3;
    overflow: hidden;
    p {
      margin: 0;
      display: block ;
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      font-family: Inter;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      white-space: nowrap
    }
    img{
      width: 26px;
    }
  }
  .form-close{
    width: 12px !important;
  }
  .form-active{
    background: #fff;
  }
}
.form-check{
  display: flex;
}
