.inputPass {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 380px;
  border-radius: 8px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  &:hover {
    border: 1px solid #000;
  }
  label {
    display: block;
    color: #424242;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
  }
  input {
    width: 100%;
    color: #616161;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding: 5px;
    border: none;
    display: flex;
    align-items: center;
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: #616161;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }
  }
  .inputPass-content {
    width: 80%;
  }
  .inputPass-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
