.modal {
  position: absolute;
  right: 6%;
  top: 76px;
  box-sizing: border-box;
  width: 428px;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fdfdfd;
  box-shadow: 0px 4px 118.9px 0px rgba(0, 0, 0, 0.19);
  padding: 25px 29px 40px 29px;
  z-index: 2;
  display: none;
  .modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .modal-name {
    color: #4ed248;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .modal-icon {
    display: flex;
    align-items: center;
    .modal-rectangle {
      width: 25px;
      height: 3px;
      margin-right: 16px;
      background: #d9d9d9;
    }
    .modal-setting {
      width: 20px;
      height: 20px;
      opacity: 0.5;
      background: #d9d9d9;
      margin-right: 6px;
    }
    .modal-polygon {
      width: 8px;
      height: 5px;
      fill: #d9d9d9;
    }
  }
  .modal-content {
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid #f4f5fe;
    background: #fff;
    box-shadow: 0px 4px 47.2px 0px rgba(132, 146, 244, 0.28);
    width: 370px;
    margin-bottom: 20px;
  }
  .modal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 20px;
    p {
      color: #000;
      font-family: Roboto;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.4;
      margin: 0;
      padding: 0 0 10px 0;
    }
    .modal-header {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 44px;
        height: 2px;
        background: #f83438;
      }
    }
    .modal-time {
      display: flex;
      width: 114px;
      height: 49px;
      padding: 10px 19px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 16px 12px 0px 16px;
      background: linear-gradient(90deg, #f55d4f 0%, #fa3140 100%);
      color: #fff;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .modal-caller {
    position: relative;
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-bottom: 10px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      opacity: 0.4;
      width: 107.168px;
      height: 1px;
      background-image: url("../../asset/Line\ 3.png");
    }
  }
  .modal-phone {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
    padding-left: 20px;
  }
  strong {
    color: #7888f9;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
  }
  .modal-InformationCaller {
    background: linear-gradient(76deg, #8190f6 7.12%, #a0a5e6 93.85%);
    border-radius: 0 0 40px 40px;
    padding: 40px;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .modal-InformationCaller-active{
    display: none;
  }
  .modal-InfoName {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .modal-iconCall {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .modal-refuse {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 17px;
    }
    .modal-point {
      background-color: #F8477F;
      border-radius: 50%;
    }
  }
  .modal-agree {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-left: 17px;
    }
    .modal-point {
      background-color: #83F0B6;
      border-radius: 50%;
    }
    
  }
  .modal-point1 {
    width: 15px;
    height: 15px;
    margin: 0px 6px;
  }
  .modal-point2 {
    width: 9px;
    height: 9px;
    margin: 0px 5px;
  }
  .modal-point3 {
    width: 6px;
    height: 6px;
    margin: 0px 4px;
  }
  .modal-point4 {
    width: 4px;
    height: 4px;
    margin: 0px 3px;
  }
}
.modal-active{
  display: block;
}
