.modal {
  position: absolute;
  right: 6%;
  top: 76px;
  box-sizing: border-box;
  width: 290px;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fdfdfd;
  box-shadow: 0px 4px 118.9px 0px rgba(0, 0, 0, 0.19);
  padding: 20px 20px 20px 20px;
  // animation
  opacity: 0;
  max-width: 0;
  max-height: 0;
  transform: perspective(600px) rotateX(-90deg);
  visibility: hidden;
  transform-origin: 0% 0%;
  z-index: 99;
  display: block;
  
  .modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .modal-name {
    color: #4ed248;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .modal-icon {
    display: flex;
    align-items: center;
    .modal-rectangle {
      width: 18px;
      height: 2px;
      margin-right: 12px;
      background: #d9d9d9;
    }
    .modal-setting {
      width: 18px;
      height: 18px;
      opacity: 0.5;
      background: #d9d9d9;
      margin-right: 6px;
    }
    .modal-polygon {
      width: 8px;
      height: 5px;
      fill: #d9d9d9;
    }
  }
  .modal-content {
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid #f4f5fe;
    background: #fff;
    box-shadow: 0px 4px 47.2px 0px rgba(132, 146, 244, 0.28);
    width: 250px;
    margin-bottom: 10px;
  }
  .modal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 15px;
    p {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.4;
      margin: 0;
      padding: 0 0 10px 0;
    }
    .modal-header {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 44px;
        height: 2px;
        background: #f83438;
      }
    }
    .modal-time {
      display: flex;
      width: 80px;
      height: 35px;
      padding: 5px 19px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 16px 12px 0px 16px;
      background: linear-gradient(90deg, #f55d4f 0%, #fa3140 100%);
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      font-weight: 600;
    }
  }
  .modal-caller {
    position: relative;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      opacity: 0.4;
      width: 70px;
      height: 1px;
      background-image: url("../../asset/Line\ 3.png");
    }
  }
  .modal-phone {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
    padding-left: 20px;
  }
  strong {
    color: #7888f9;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
  }
  .modal-InformationCaller {
    background: linear-gradient(76deg, #8190f6 7.12%, #a0a5e6 93.85%);
    border-radius: 0 0 40px 40px;
    padding: 20px;
    padding-bottom: 25px;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .modal-InformationCaller-active {
    display: none;
  }
  .modal-InfoName {
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .modal-iconCall {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .modal-refuse {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
      width: 50px;
    }
    .modal-point {
      background-color: #f8477f;
      border-radius: 50%;
    }
  }
  .modal-agree {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-left: 10px;
      width: 50px;
    }
    .modal-point {
      background-color: #83f0b6;
      border-radius: 50%;
    }
  }
  .modal-point1 {
    width: 12px;
    height: 12px;
    margin: 0px 4px;
  }
  .modal-point2 {
    width: 7px;
    height: 7px;
    margin: 0px 3px;
  }
  .modal-point3 {
    width: 5px;
    height: 5px;
    margin: 0px 2px;
  }
  .modal-point4 {
    width: 3px;
    height: 3px;
    margin: 0px 1px;
  }
}
.modal-active {
  opacity: 1;
  max-width: 3000px;
  max-height: 3000px;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
  transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end,
    max-width 0s step-end, padding 0s step-end;
}
