.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0px 20px 0px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #f2f3f5;
  .header-select {
    display: flex;
    width: 160px;
    padding: 8px 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #f2f3f5;

    label {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.6;
    }
  }
  .header-checkbox {
    display: flex;
    align-items: center;
  }
  .header-arrow {
    width: 18px;
    height: 18px;
  }
  .header-online {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
  .header-input {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  .header-Notification {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    border-radius: 6px;
    background: #efefef;
    img{
      width: 38px;
    }
  }
  .header-call {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: #0db06e;
    cursor: pointer;
    img{
      width: 18px;
    }
  }
  .header-acount {
    display: flex;
    align-items: center;
    img {
      margin-right: 16px;
      width: 40px;
    }
  }
  .header-name {
    color: #e4252d;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }
  .header-email {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
  }
  .header-call-active {
    position: relative;
    &::after {
      content: "";
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB6SURBVHgBdY+xDYMwFETf/0r6jJARyEiR0qTLJimTLhmBEdgARoANGADJ3LdAFOBX2PKd9aQzRPpwxfiRqHRfFNWceNmDwXIJ7VJsJEbOVI7z3pVBZBN/S1/9LSGLZ1UJWVxHR5k6DPdDS2Ra4vak1/OWp60FNLEgZs4IpCEkvSzJawAAAABJRU5ErkJggg==);
      position: absolute;
      bottom: -4px;
      left: 44%;
      width: 8px;
      height: 8px;
    }
    &:hover{
      .header-hover{
        display: flex !important;
      }
    }
  }
  .header-hover {
    position: absolute;
    bottom: -74px;
    left: -27px;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 2;
    .hover-content {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      display: flex;
      padding: 6px 8px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      border-radius: 6px;
      background: rgba(52, 143, 8, 0.75);
      p {
        color: var(--character-primary-inverse, var(--pattern, #fff));
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        white-space: nowrap;
      }
      span {
        color: var(--character-primary-inverse, var(--pattern, #fff));
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        white-space: nowrap;
      }
    }
  }
}
